body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:black;
    color:snow;
    text-align:center;
}


h1 {
    font-size: 3em;
    margin-top: 20px;
}

/* This is me adding my first ever comment,
    this should be the area for styling links.*/

